<%- include ("includes/header") %>

<div id="homeApp" style="margin-bottom: 80px;">
    <div class="container" id="features">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h1 class="display-4 mb-4">File Server Web App</h1>
                <p class="lead">Experience seamless file management and sharing.</p>
                <a v-bind:href="mainURL + '/MyUploads'" class="btn btn-primary btn-lg">Get Started</a>
            </div>
        </div>
    </div>
</div>

<script>
    const homeApp = Vue.createApp({
        data() {
            return {
                mainURL: baseUrl,
            }
        }
    });
    homeApp.mount("#homeApp");
</script>

<%- include ("includes/footer") %>
